[user]
	name = Bengt Bengtsson
	email = bengt.bengtsson@gmail.com
[alias]
	lol = log --oneline --graph --decorate --all
	st = status
	ci = commit
	co = checkout
	br = branch
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
